// Fonts 
$font-main: 'Inter', sans-serif;
$font-accent: 'Inter', sans-serif;;

// Colors
$background-main: #E1D4C9;
$color-light: #E1D4C9;
$color-dark: #403F3D;
$color-accent: #B0907A;
$color-pagination: #C1B6AD;
$color-pagination-active: #665F55;

.dark-theme {
  $background-main: #292826;
  $color-light: #E1D4C9;
  $color-dark: #403F3D;
  $color-accent: #B0907A;
  $color-pagination: #C1B6AD;
  $color-pagination-active: #665F55;
}