.title-menu {
  margin: 0 280px;
  font-family: $font-main;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

@media screen and (max-width: 768px) {
  .title-menu {
    font-family: $font-main;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 75px */
    margin: 0px;
  }
}

@media screen and (max-width: 768px) {
  .title-menu {
    font-size: 32px;
  }
}